.batchWrapper {
  padding: 20px 100px;
  height: 100vh;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.info h1 {
  color: #ffb6c1;
}

.info p {
  font-size: 20px;
  text-align: justify;
}

.info button {
  outline: none;
  border: none;
  background-color: #ffb6c1;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.doughnut {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.batchContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.tweetsNbr {
  background-color: rgb(216, 191, 216);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
.tweetsNbr .title {
  color: #fff;
  font-size: 18px;
}
.tweetsNbr .nbr {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 0px;
}
.tweetsPerMin {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}
.tweetsPerMin .title {
  font-size: 18px;
}
.tweetsPerMin .nbr {
  font-weight: 600;
  font-size: 30px;
  line-height: 0px;
}
.hashtagBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.header {
  margin-top: 30px;
} */
@media screen and (max-width: 800px) {
  .batchWrapper {
    padding: 20px 40px;
    grid-template-columns: 1fr;
  }

  .info {
    align-items: center;
    text-align: center;
  }
}
/* @media screen and (max-width: 700px) {
  .batchContainer {
    grid-template-columns: 1fr;
  }
} */
