.liveViewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 22px;
  font-weight: 600;
  border: 2px solid white;
  gap: 20px;
}

.text {
  text-align: center;
}
.sentiment {
  width: 50px;
  height: 50px;
}
